@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');

body{
	background: #201417;
	font-family: 'Open Sans';
}
a, button{
	outline: none;
	cursor: pointer;
}
.font-bold{
	font-family: 'Open Sans';
	font-weight: 700 !important;
}
.intro-section{
	position: relative;
	height: 765px;
}
.intro-section-bg{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-image: url('../img/intro-bg.png');
	background-size: contain;
	width: 828px;
	background-repeat: no-repeat;
}
.intro-section-bg:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	background: rgb(38,24,27);
	background: linear-gradient(90deg, rgba(32,20,23,1) 0%, rgba(32,20,23,0) 100%);
}
.intro-section-bg:after{
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 250px;
	background: rgb(38,24,27);
	background: linear-gradient(0deg, rgba(32,20,23,1) 0%, rgba(32,20,23,0) 100%);
}
.intro-typography{
	max-width: 480px;
}
.intro-typography-container{
	margin-top: 200px;
}
.non-intro-section{
	margin: 120px 0px;
}
.person-bio-container:nth-child(1){
	padding-right: 30px;
}
.person-bio-container:nth-child(2){
	padding-left: 30px;
}
.person-bio{
	position: relative;
	min-height: 160px;
	padding-left: 150px;
}
.person-bio-dp{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
}
.person-bio-header, .person-bio-header-small{
	font-family: 'Open Sans';
	font-weight: 600;
	color: #fff;
	font-size: 24px;
	margin: 10px 0px 15px 0px;
}
.person-bio-header-small{
	font-size: 19px;
	color: #111;
	margin: 25px 0px 10px 0px;
}
.person-bio-desc{
	font-family: 'Open Sans';
	font-weight: 300;
	line-height: 1.7;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	margin: 10px 0px 15px 0px;
}
.masonry{
	column-gap: 25px;
	column-count: 3;
}
.wishes-card{
	width: 100%;
	background: #fff;
	border-radius: 6px;
	padding: 25px;
	display: inline-block;
	margin-bottom: 25px;
}
.wishes-card .person-bio-desc{
	color: #666;
	margin-top: 0px;
}
.owl-theme .owl-nav {
    position: absolute;
    top: 42%;
    left: 0px;
    right: 0px;
}
.owl-carousel {
	position: relative;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    height: 56px;
    width: 56px;
    border-radius: 1000px;
    background: rgba(0,0,0,0.4) !important;
    font-size: 32px !important;
    color: #fff !important;
}
.owl-nav .owl-next{
	float: right;
	margin-right: 35px !important;
}
.owl-nav .owl-prev{
	float: left;
	margin-left: 35px !important;
}
.section-header{
	margin-bottom: 35px;
}
.section-tab-item{
	cursor: pointer;
	margin-top: 13px;
	display: block;
	color: #fff;	
	opacity: 0.5;
	text-transform: uppercase;
}
.section-tab-item.active{
	opacity: 1;
}
.gmap_canvas iframe{
	border-radius: 4px;
}
.modal{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.modal-overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 99;
	background: rgba(0,0,0,0.6);
}
.modal-content{
	background: #fff;
	border-radius: 4px;
	padding: 30px;
	width: 480px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 50px;
	z-index: 999;
	box-shadow: 0px 10px 80px rgba(0,0,0,0.75); 
}
.modal-content .person-bio-header{
	color: #333;
	margin-top: 0px;
	margin-bottom: 30px;
}
.form-field{
	display: block;
	width: 100%;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 4px;
	outline: none;
	line-height: 1.6;
	resize: none;
	font-size: 1em;
}
.primary-cta{
	padding: 20px 50px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #1B1214;
	border-radius: 1000px;
	border: none;
	background: rgb(236,194,56);
	background: linear-gradient(45deg, rgba(236,194,56,1) 0%, rgba(255,242,77,1) 100%);
	transition: all 0.1s ease-in;
}
.primary-cta:hover{
	opacity: 0.75;
}
.disabled{
	opacity: 0.4;
	pointer-events: none;
}
.intro-section-cta{
    margin-left: 115px;
    margin-top: 40px;
}
.cta-full-width{
	display: block;
	width: 100%;
}
.modal-close-btn{
	position: absolute;
	right:25px;
	top: 35px;
}
.modal-content .person-bio-desc {
	margin-bottom: 35px;
	color: #666;
}
.relative{
	position: relative;
}
.center{
	text-align: center;
}
.intro-typography-heart{
	position: absolute;
	right: 305px;
	bottom: 0px;
	max-height: 28px;
}
.alert-message{
	color: #e74c3c !important;
}
.mob-only{
	display: none;
}

@media(max-width: 800px){
	.mob-only{
		display: block;
	}
	.intro-bg-hidden{
		visibility: hidden;
		width: 100%;
	}
	.intro-typography {
	    max-width: 260px;
	    margin: 0 auto;
	    margin-left: -5% !important;
	}
	.intro-section {
	    height: auto;
	}
	.intro-typography-container {
	    margin-top: 30px;
	    text-align: center;
	    position: relative;
	}
	.intro-section-bg{
	    width: 100%;
	    position: relative;
	}
	.intro-section-bg:after{
	    content: '';
	    position: absolute;
	    bottom: -2px;
	    left: 0px;
	    height: 70px;
	    background: rgb(38,24,27);
	    background: linear-gradient(0deg, rgba(32,20,23,1) 0%, rgba(32,20,23,0) 100%);
	    right: 0px;
	    z-index: 0;
	    width: 100%;
	}
	.intro-section-bg:before{
		display: none;
	}
	.intro-typography-heart {
	    right: auto;
	    bottom: 0px;
	    max-height: 16px;
	    left: 59.5%;
	}
	.intro-section-cta {
	    margin-left: 0px;
	    margin-top: 40px;
	}
	.primary-cta {
    	padding: 15px 35px;
    	font-size: 15px;
	}
	.person-bio{
		text-align: center;
		padding: 0px;
	}
	.person-bio-dp{
		position: static;
	}
	.person-bio-container:nth-child(1){
		padding: 20px;
		margin-bottom: 30px;
	}
	.person-bio-container:nth-child(2) {
	    padding: 20px;
	    padding-top: 0px;
	}
	.person-bio-header{
		font-size: 21px;
	}
	.person-bio-desc{
		font-size: 16px;
	}
	.non-intro-section{
		margin: 80px 0px;
	}
	.section-header {
    	margin: 0 auto 25px auto;
    	display: block;
    	height: 28px;
	}
	.section-tab-item{
		text-align: center;
		margin-bottom: 25px;
		font-size: 16px;
	}
	.mapouter{
		margin-bottom: 30px;
	}
	.owl-theme .owl-nav [class*=owl-] {
	    height: 32px;
	    width: 32px;
	    font-size: 20px !important;
	}
	.owl-nav .owl-prev {
	    margin-left: 20px !important;
	}
	.owl-nav .owl-next {
	    margin-right: 20px !important;
	}
	.owl-theme .owl-nav {
    	margin-top: 0px !important;
	}
	.masonry {
    	column-gap: unset;
    	column-count: unset;
	}
	.wishes-card {
	    border-radius: 4px;
	    padding: 20px;
	    display: block;
	    margin-bottom: 15px;
	}
	.modal-content {
	    background: #fff;
	    padding: 20px;
	    width: 100%;
	    margin-top: 0px;
	    min-height: 100vh;
	    border-radius: 0px;
	}
	.modal-close-btn {
	    position: absolute;
	    right: 15px;
	    top: 28px;
	}
}