body{
	background: #26181B;
}
.intro-section{
	position: relative;
	height: 750px;
}
.intro-section-bg{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-image: url('../img/intro-bg.png');
	background-size: contain;
	width: 728px;
	background-repeat: no-repeat;
}
.intro-section-bg:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	background: rgb(38,24,27);
	background: linear-gradient(90deg, rgba(38,24,27,1) 0%, rgba(38,24,27,0) 100%);
}
.intro-typography{
	max-width: 480px;
}
.intro-typography-container{
	margin-top: 200px;
}
